.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mycard {
  background-color: #282c34;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 5px;
}

.title{
  word-wrap: break-word;
  color:rgb(255, 115, 0);
  font-size:3.5vw;
  font-weight:bold;
}

.title-profile{
  word-wrap: break-word;
  color:rgb(255, 115, 0);
  font-size:5vw;
  font-weight:bold;
}

.desc{
  word-wrap: break-word;
  color:rgb(255, 181, 44);
  font-size:3vw;
}

.owned{
  color:rgb(250, 207, 126);
}

.not-owned{
  color:rgb(80, 79, 79);
}

.btn-custom{
  color:rgb(255, 115, 0);
  
}

.img-resp{
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.img-home{
  min-width:100px;
  min-height:100px;
  height: 100%;
  width: 100%;
  max-width:250px;
  max-height:250px;
}

.img-profile{
  width: 100%;
  min-width: 120px;
  min-height: 120px;
  height: auto;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 5px;
}


.container-fluid{
  min-height:800px;
  top:0;
  background-image: "url('/bg-2.jpg')";
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center;
  padding-bottom:25%;
}

@media screen and (min-width: 1200px) {
  .title {
     font-size: 30px;
  }
  .title-profile{
     font-size: 50px;
  }
}
